@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root{
--primary-color: #555555;
--backgraound-light-color: #eeefff;
--default-orange: #fc4733;
--default-blue: #2e3192;
--para-color: #555555;
--black: #000000;
--btn-hover:#191818;
--white:#fff;
--section-title-color: #464646;


}
html{
    font-size: 62.5%;

}
body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
    
}
h2{
    font-size: 2.6rem;
    font-weight: 700;

}
p{
    font-size: 1.6rem;
    color: var(--para-color);
    font-weight: 400;
    line-height: 2.4rem;

}
img{
    max-width: 100%;
    width: 100%;
}
ul li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: var(--section-title-color);
    transition: .3s;
}
a:hover{
    color: var(--default-blue);
}
.side-space{
    padding: 0 6.5rem;
}
.padding-up-down{
   padding: 10rem 0; 
}
/* ================================================================================================= Common Css */
/* common button */
.btn{
    color: #fff;
    font-weight: 400;
    padding: 1.3rem 2.5rem;
    background: var(--default-blue);
    border: none;
    border-radius: 0;
    font-size: 1.4rem;
    text-transform: uppercase;
    display: inline-block;
}

.btn:hover{
    background-color: var(--btn-hover);
    color: #fff;
}
/* blog button */
/* section title */
.section-title{
    position: relative;
    margin-bottom: 6rem;
}
.section-title:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background: #cccccc;
    left: 0%;
    top: 50%;
}
.section-title-content{
    max-width: 55rem;
    margin: 0 auto;
    background: #fff;
    z-index: 999;
    position: relative;
}
.section-title-content h2 {
    text-transform: uppercase;
    font-size: 2.6rem;
    font-weight: 700;
    color: var(--section-title-color);
}
.section-title-content p{
    font-size: 1.4rem;
}
/* product box */
.product-box {
    margin: 3.5rem 1.5rem;
}
.product-image{
    position: relative;
}
.product-badge {
    background: var(--default-orange);
    height: 5.5rem;
    width: 5.5rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    line-height: 2.6rem;
    position: absolute;
    top: 0;
    left: 0;
}
.product-name h4 a {
    font-size: 1.8rem;
    font-weight: 500;
}

.product-details-container {
    margin-top: 2.5rem;
}

.product-details {
    margin-top: 1.5rem;
}

.product-details span {
    font-size: 1.4rem;
}

.product-details h5 {
    font-size: 1.4rem;
    font-weight: 700;
    color: #fc4733;
}

/* product overlay */
.product-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: 0;
    width: 100%;
    height: 100%;
    background: #ffffffad;
    visibility: hidden;
    opacity: 0;
    transition: .5s;
   
}



.overlay-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

a.product-btn {
    font-size: 1.5rem;
    display: flex;
    color: #fff;
    background: var(--default-blue);
    width: 120px;
    height: 36px;
    align-self: center;
    align-items: center;
    justify-content: center;
    margin: .5rem 0;
    z-index: 99;
    transition: .3s;
}
a.product-btn.product-detail-btn{
    background: #191818;
   

}
.product-box:hover .product-overlay{
visibility: visible;
opacity: 1;
}
.product-box:hover .product-badge{
    visibility: hidden;
    opacity: 0;

}


/* ================================================================================================= Navigation */
header.header {
    height: 9rem;
    position: relative;
   
   
}
button.navbar-toggler {
    position: absolute;
    right: 2rem;
    top: 2.5rem;
}

.navbar-nav{
    margin-right: auto;
    padding: 2.5rem 0;
}




li.nav-item {
    padding: 0 2rem;
}

a.nav-link {
    font-size: 1.4rem;
    text-transform: uppercase;
    transition: .3s;
    font-weight: 500;
}
a.nav-link:hover{
    color: var(--default-blue);


}

/* menu right */
.menu-right {
    padding: 2.5rem 0;
}
.menu-right ul li{
    margin: 0 1rem;
}
.menu-right.form-select{
    font-size: 1.6rem;
}
.menu-right.form-select:focus{
    border-color: #86b6fe00;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13,110,253,0);
}
i.fa-solid.fa-user,
i.fa-brands.fa-gratipay,
i.fa-solid.fa-bag-shopping {
    font-size: 2rem;
}
/* ================================================================================================= Hero */
.hero-section{
    background-image: url('../images/hero-bg.jpg');
    position: relative;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}
section.hero-section:after {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #181717;
    opacity: .5;
  
}
.logo a {
    font-size: 3.7rem;
    font-weight: 500;
    color: #fff;
}
.canvas-logo a{
    color: var(--default-blue);
    
}
.mobile-logo{
    visibility: hidden;
    opacity: 0;
    display: none;


}
.mobile-logo a{
    color: var(--default-blue);
}

.logo a span {
    font-weight: 700;
    margin-left: -1rem;
}
.hero-top-section {
    padding: 2.5rem 0;
    z-index: 99;
    position: relative;
    border-bottom: 1px solid #fff;
}


.search-widget {
    align-self: center;
}

.search-widget input.form-control {
    font-size: 1.4rem;
    padding: 1.5rem 2rem;
    width: 40rem;
    /* max-width: 56rem; */
}

/* hero bottom------------------- */
.hero-bottom {
    padding: 26rem 0 43rem 0;
    z-index: 99;
    position: relative;
}

.hero-bottom h2 {
    font-size: 3rem;
    font-weight: 500;
    /* margin: 1.5rem; */
}

.hero-bottom h1 {
    font-size: clamp(3rem,3.9vw,4.5rem);
    font-weight: 700;
    margin: 2rem 0 4rem 0;
}

/* ================================================================================================= Offer ================================================*/
.offer-content{
    padding: 0 7.5rem 0 0rem;
    margin-bottom: 3rem;
    animation: fadeInUp;
    animation-duration: 2s;
}
.offer-content h3{
color: var(--default-blue);
font-size: clamp(1.2rem,16vw,1.7rem);
margin-bottom: 1.5rem;
font-weight: 700;
text-transform: uppercase;
}


/* ================================================================================================= catagory */
section.catagory-section img {
    padding: 2rem 2rem;
}
.catagory-image-1 img {
    height: 111vh;
}
.catagory-image-1,
.catagory-image-2,
.catagory-image-3,
.catagory-image-4 {
    position: relative;
}

.catagory-name {
    position: absolute;
    top: 5%;
    left: 9%;
    background: #ffffffcf;
    font-size: 2rem;
    padding: 1rem 3rem;
    font-weight: 500;

}
.catagory-name-2,
.catagory-name-3{
    position: absolute;
    top: 4rem;
    left: 6rem;
    background: #ffffffcf;
    font-size: 2rem;
    padding: 1rem 3rem;
    font-weight: 500;

}
.catagory-name-4{
    position: absolute;
    top: 4rem;
    left: 6rem;
    background: #ffffffcf;
    font-size: 2rem;
    padding: 1rem 3rem;
    font-weight: 500;
}



/* ================================================================================================= Article */
.article-container {
    padding: 4.5rem 2rem;
}
.article-content h4 {
    font-size: 1.6rem;
    line-height: 3rem;
    font-weight: 700;
   
}

.article-content p {
    line-height: 3rem;
    font-size: 1.6rem;
    margin: 1rem 0;
}

.article-content small {
    font-size: 1.4rem;
    color: var(--default-blue);
}

.article-content {
    padding: 0 0rem 0 2rem;
}

/* ================================================================================================= News letter*/
.news-letter{
    background-color: var(--backgraound-light-color);
    padding: 8rem 0 10rem 0;
}
form.news-letter-form {
    
    gap: 2rem;
    
}



form.news-letter-form input {
    display: inline-block;
    font-size: 1.6rem;
    padding: 0 3rem 0 3rem;
   
}

.news-letter-content.text-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.news-letter-content h3 {
    font-size: clamp(2.5rem,2.7vw,2.8rem);
    font-weight: 400;
}



.news-letter-content h4 {
    font-size: clamp(2.5rem,2.7vw,2.9rem);
    font-weight: 400;
    margin: 2rem 0 4rem 0;
}
/* ================================================================================================= Footer*/
.footer-widget {
    /* margin: 0 3rem 0 0; */
    padding: 0 1rem 0 2rem;
}
.widget-2,
.widget-4,
.widget-3{
    margin-left: 3rem;
}
 
.footer-heading h4 {
    font-size: 2rem;
    font-weight: 400;
}

.footer.top {
    padding: 6rem 0;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
}


.footer-heading {
    margin: 4rem 0 2rem 0;
}
ul.footer-widget-2-lists {
    margin-left: -2rem;
    font-size: 1.6rem;
    margin-bottom: 0rem;
}

ul.footer-widget-2-lists li {
    margin-bottom: 1.5rem;
}
.widget-4 h5{
    font-weight: bold;
}
/* footer bottom */
.footer-bottom.text-sm-start.text-lg-center {
    border-top: 1px solid var(--para-color);
    
    padding: 2rem 0;
}

.footer-bottom.text-sm-start.text-lg-center p {
    margin-top: 3rem;
}